{% extends 'task/main.html' %} {% block content %}
<a href="{% url 'foodlist' %}" class="button" style="margin-left: 40px;">Go Back</a>
<h1>Add Food</h1>
<div class="section-delete">
  <form action="" method="POST">
    {% csrf_token %}
    <label>Food Name: </label>
    {{form.foodname}}
    <label>Calorie: </label>
    {{form.cal}}
    <label>Protien: </label>
    {{form.protien}}
    <label>Fat: </label>
    {{form.fat}}
    <label>Vitamin A: </label>
    {{form.vita}}
    <label>Calcium: </label>
    {{form.calcium}}
    <div class="btn-flex">
      <button type="submit" class="btn">Add Food</button>
      <button type="reset" class="btn">Reset</button>
    </div>
  </form>
</div>
{% endblock %}
