{% extends 'task/main.html' %}
{% block content %}
  <a href="{% url 'addfood' %}" class="button" style="margin-left: 40px;">Add Food</a>
  <h1>Food List</h1>
  <div class="tb-res">
    <div class="header">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <th class="hide" scope="col">#</th>
          <th scope="col">Food Name</th>
          <th class="hide" scope="col">Calorie</th>
          <th class="hide" scope="col">Protien</th>
          <th class="hide" scope="col">Fat</th>
          <th class="hide" scope="col">Vitamin A</th>
          <th class="hide" scope="col">Calcium</th>
          <th  scope="col">Delete</th>
          <th  scope="col">Update</th>
        </tr>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          {% for in in food %}
            <th  class="hide" scope="row">{{in.id}}</th>
            <td>{{in.foodname}}</td>
            <td class="hide" >{{in.cal}}</td>
            <td class="hide" >{{in.protien}}</td>
            <td class="hide" >{{in.fat}}</td>
            <td class="hide" >{{in.vita}}</td>
            <td class="hide" >{{in.calcium}}</td>
            <td>
              <a href="{% url 'deleteFood'  in.rndid  %}" class="crud">DELETE</a>
            </td>
            <td>
              <a href="{% url 'updateFood' in.rndid %}" class="crud">EDIT</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}