{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/main.css' %}"
      />
      <link
        rel="stylesheet"
        href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
        crossorigin="anonymous"
        />
        <link rel="icon" href="{% static '/image/favicons.ico' %}" type="image/x-icon">
        <title>Nutrition App</title>
      </head>
      <body>
        {% if user.is_authenticated %}
          <div class="wrapper">
            <input type="checkbox" id="btn" hidden>
            <label for="btn" class="menu-btn">
              <i class="fas fa-bars"></i>
              <i class="fas fa-times"></i>
            </label>
            <div class="sidenav" id="sidebar">
              <h1>Dashboard</h1>
              <a href="{% url 'dashboard' %}">Home</a>
              <a href="{% url 'foodlist' %}">Food List</a>
              <a href="{% url 'food' %}" style="padding-top: 20px;">Calculation</a>
              <div class="lgout" style="padding-top: 10rem;">
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'logout' %}">Logout, {{request.user}}</a>
              </div>
            </div>
          </div>
        {% else %}
          <p></p>
        {% endif %}
        {% block content %}
        {% endblock %}
      </body>
    </html>