{% extends 'task/main.html' %}
{% block content %}
  <a href="{% url 'login' %}" class="button" style="margin-left: 40px;">Go Back</a>
  <h1>Password Reset Sent</h1>
  <div class="section-delete">
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
  </div>
{% endblock %}