{% extends 'task/main.html' %} {% block content %}
<a href="{% url 'foodlist' %}" class="button" style="margin-left: 40px;">Food List</a>
<h1>Update</h1>
<div class="section-delete">
  <form method="POST" action="">
    {% csrf_token %}
    <label>Food Name: </label>
    {{form.foodname}}
    <label>Calorie: </label>
    {{form.cal}}
    <label>Protien: </label>
    {{form.protien}}
    <label>Fat: </label>
    {{form.fat}}
    <label>Vitamin A: </label>
    {{form.vita}}
    <label>Calcium: </label>
    {{form.calcium}}
    <div class="btn-flex">
      <button type="submit" class="btn">Save</button>
      <button type="reset" class="btn">Reset</button>
    </div>
  </form>
</div>

{% endblock %}
