* {
  box-sizing: border-box;
}

/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700); */
body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #0582ca, #58a4b0);
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 2rem;
}

.button {
  appearance: none;
  outline: 0;
 
  text-decoration: none;
  border: 1px solid #eef4ed;
  padding: 10px 15px;
  color: black;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
.button:hover {
  background-color: #25b7c4;
}

.crud {
  appearance: none;
  outline: 0;
  background-color: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background-color: linear-gradient(to right, #25c481, #25b7c4);
  text-decoration: none;
  border: 0;
  padding: 5px 10px;
  color: black;
  border-radius: 4px;
  width: 25px;
  cursor: pointer;
  font-size: 15px;
  transition-duration: 0.25s;
}
.crud:hover {
  background-color: gray;
}

.btn {
  appearance: none;
  outline: 0;
  background-color: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background-color: linear-gradient(to right, #25c481, #25b7c4);
  border: 0;
  padding: 10px 15px;
  margin-bottom: 5rem;
  color: black;
  border-radius: 4px;
  width: 100px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
.btn:hover {
  background-color: #25b7c4;
}

.btn-flex {
  display: flex;
  justify-content: space-around;
}

.header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 70vh;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.head {
  background-color: rgba(255, 255, 255, 0.3);
  width: 55vw;
}

.content {
  height: 70vh;
  width: 55vw;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

p{
    text-align: center;
}


.message {
  width: 100%;
  height: 35px;
  padding: 3px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
}



table {
  width: 90%;
  margin: auto;
  table-layout: fixed;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.section-delete {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  line-height: 30px;
}

.child2 {
  width: 100vw;
  text-align: center;
  margin-left: 20rem;
  margin-top: 2rem;
}

.center {
  padding-top: 1rem;
  text-align: center;
}

.form-signin {
  width: 430px;
  height: 375px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.form-styling {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
}

select {
  width: 100%;
  height: 35px;
  padding: 0px 9px 0px 9px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
}

option {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button;
}

.card {
  background: #59a5d8;
  border-radius: 2px;
  display: inline-block;
  /* height: 540px; */
  height: relative;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-delete {
  background: #59a5d8;
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 0rem;
  position: relative;
  width: 270px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.delete {
  margin: 1rem;
  text-align: center;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
}


label {
  padding-top: 5px !important;
  display: block;
  text-transform: uppercase;
}






.news-card {
  background: #59a5d8;
  border-radius: 15px;
  display: inline-block;
  height: relative;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.news-card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.news-card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}





.container{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.container .description {
    padding: 20px;
    position: relative;
}

.container .description h2 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    margin-top: 2px;
}

.container p {
    position: relative;
    font-size: 1rem;
    margin: 1rem 0 1rem;
    color: black;
    font-weight: 300;
}

.container small {
    position: relative;
    font-size: 1rem;
    margin: 1rem 0 1rem;
    color: darkblue;
    font-weight: 400;
}


.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  padding-left: 50px;
}

.sidenav a{
    padding-top: 20px;
    line-height: 50px;
    transition: .5s;
}


.wrapper .menu-btn{
  position: absolute;
  left: 15px;
  top: 20px;
  background: rgba(0, 0, 80, 0.4);
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid lightblue;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: 240px;
}
.wrapper .menu-btn i{
  position: absolute;
  transform: ;
  font-size: 23px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
}

#sidebar{
  border-right: 1px solid lightblue;
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 10px;
  background: rgba(0, 0, 80, 0.4);
  overflow-x: hidden;
  position: fixed;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
}
#btn:checked ~ #sidebar{
  left: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1202px) {
  .section{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .child2{
    margin: 0;
  }
  .form-signin {
    padding: 5rem;
    margin-bottom: 25rem;
  }
    
}

@media screen and (max-width: 644px) {
  .hide{
    display: none;
  }
}

.sidenav header{
    color: white;
    font-size: 35px;
    padding-top: 25px;
    padding-left: 20px;
    user-select: none;
}



.button-desc{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}



.about {
  background: #a9bcd0;
  border-radius: 2px;
  display: inline-block;
  height: 270px;
  margin: 1rem;
  position: relative;
  width: 50rem;
}

@media screen and (max-width: 800px) {
  .about{
    width: 300px;
    height: 400px;
  }
}

h3{
  font-size: 16px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}



.mobile{
  display: none;
  text-align: center;
}



::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}



